body {
	padding: 0.8em;
	font-size: 18px;

	& > h1,
	& > h2,
	& > h3 {
		& > small {
			font-weight: normal;
		}
	}

	& textarea,
	& input[type="text"],
	& input[type="number"] {
		font-size: 0.96em;
		padding: 0.3em 0.5em;
	}

	& button {
		font-size: 1.1em;
		padding: 0.2em 0.6em;
	}

	& code {
		background: #e5e5e5;
		padding: 0.12em 0.24em;
		border-radius: 0.2em;
	}

	& a {
		color: mediumblue;
	}

	& > h2 {
		margin: 0.2em 0 1em;
	}

	& form[name="options"] {
		margin-bottom: 2em;

		& > label {
			display: block;
			margin: 1.2em 0;
		}

		& textarea[name="urls"] {
			display: block;
			margin-top: 0.4em;
		}

		& input[name="threshold"] {
			width: 3em;
			text-align: right;
		}

		& button[type="submit"] {
			display: block;
			margin-top: 1em;
		}
	}
}
